/*
font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; 

36px > 38 - 2.375rem
24px > 26 - 1.625rem
18px > 20 - 1.25rem
16px > 18 - 1.125rem
14px > 16 - 1rem
12px > 14 - 0.875rem
10px > 12px - 0.75rem

button - normal / hover
*/

/*==================== 
    Stylization Mobile Frist 
====================*/

/*========== REM measure ==========*/
/* For screens bigger than 1080px: 16px(defalt) */
/* For screens smaller than 1080px*/
@media (max-width: 1080px) {
    html {
        font-size: 93.75%; /* 15px */
    }
}
/* Para telas mmenores que 720px*/
@media (max-width: 720px) {
    html {
        font-size: 87.5%; /* 14px */
    }
}



/*========== Variables ==========*/
:root {
    /*========== Colors ==========*/
    --white-50: #fff;

    --geay-50: #F2F2F2;
    --gray-100: #E0E0E0;
    --gray-200: #BDBDBD;
    --gray-300: #828282;
    --gray-400: #4F4F4F;
    --gray-500: #333333;
    --gray-600: #000000; 

    --blue-50: #2D9CDB;
    --blue-100: #100E1D;

    --green-50: #27AE60;

    --red-50: #EB5757;
}



/*========== Global ==========*/
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--gray-500);
    background-color: var(--white-50);
}
img {
    width: 100%;
    height: auto;
}



/*========== Components ==========*/
    /*========== E-mail form ==========*/
        .e-mail label {
            font-size: 0.75rem;
            color: var(--gray-300);
        }
        .e-mail-container {
            display: flex;
            justify-content: space-between;
            background-color: var(--geay-50);
            padding: .25rem;
            border-radius: 12px;
            font-size: 0.875rem;
        }
        .e-mail input {
            border: none;
            background-color: unset;
            margin-left: .75rem;
            font-weight: 500;
            width: 100%;
        }
        .e-mail input::placeholder {
            color: var(--gray-200);
        }
        .e-mail input:focus {
            outline: none;
        }
        .e-mail button {
            font-weight: 500;
            padding: 0.75rem;
            border: none;
            border-radius: 12px;
            background-color: var(--blue-50);
            color: var(--geay-50);
        }
        .e-mail button:hover {
            transform: scale(1.2, 1.2);
        }
        @media (min-width: 768px) {
            .e-mail label {
                font-size: 0.875rem;
            }
            .e-mail-container {
                font-size: 1.125rem;
            }
        }



/*========== Header ==========*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    font: 800 1.625rem 'Heebo', sans-serif;
}
.header nav span {
    cursor: pointer;
}
.header nav span:hover {
    transform: scale(1.5, 1.5);
}
.header nav ul {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.375rem;
    background-color: var(--blue-100);
    color: var(--white-50);

    left: 0;
    top: -150%;
    transition: top 500ms;
}
.header nav ul.show {
    top: 0;
    transition: top 500ms;
}
.header nav ul li span {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}
.header nav ul li a {
    font-weight: 500;
    color: var(--white-50);
    font-size: 1.25rem;
}
.header nav ul li:hover a {
    font-weight: 700;
}
/*====================
    Estilização de ativo para cada sessão
====================*/



/*========== Main ==========*/
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.container {
    padding: 0 5%;
}
    /*========== Home ==========*/
    .home-container {
        padding: 2.375rem;
    }
    .home h2, h3 {
        font-weight: 500;
        font-size: 1.625rem;
    }
    .home h2 span {
        font-size: 0.875rem;
        color: var(--blue-50);
    }
    .home img {
        border-radius: 16px;
    }
    .home p {
        margin: 1.625rem 0;
        color: var(--gray-400);
    }
    /*========== Services ==========*/
    .services {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .services h3 {
        font-weight: 500;
        font-size: 1.625rem;
    }
    .services .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .services .card {
        padding: 2.375rem;
        border-radius: 24px;
        max-width: 21.25rem;
    }
    .services .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .services .card header span {
        color: var(--white-50);
        padding: 1.25rem;
        border-radius: 16px;
    }
    .services .card header span.blue {
        background-color: var(--blue-50);
    }
    .services .card header span.green {
        background-color: var(--green-50);
    }
    .services .card header span.red {
        background-color: var(--red-50);
    }
    .services .card header h4 {
        font-weight: 700;
        font-size: 1.625rem;
        margin: 1.625rem 0;
    }
    .services .card p {
        color: var(--gray-400);
        font-size: 1.125rem;
    }
    .services .card button {
        border: none;
        background-color: var(--gray-100);
        color: var(--gray-300);
        font-size: 1.125rem;
        font-weight: 500;
        padding: .75rem 1rem;
        border-radius: 12px;
        margin-top: 2.375rem;
    }
    .services .card button:hover {
        background-color: var(--blue-50);
        color: var(--white-50);
        cursor: pointer;
    }



/*==================== 
    Screens bigger than 600px
====================*/
@media (min-width: 600px) {
    /*========== Global ==========*/
        body {
            padding: 1rem;
        }
    /*========== Header ==========*/
        .header h1 {
            font-size: 2.25rem;
        }
        .header nav span {
            font-size: 2.25rem;
        }
        .header nav ul li a {
            font-size: 1.5rem;
        }
    /*========== Main ==========*/
        /*========== Home ==========*/
            .home .home-container:last-child {
                max-width: 65%;
            }
}



/*==================== 
    Screens bigger than 768px
====================*/
@media (min-width: 768px) {
    /*========== Header ==========*/
        .header nav span {
            cursor: pointer;
            position: fixed;
            top: -100%;
        }
        .header nav ul {
            position: unset;
            height: unset;
            width: unset;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2.375rem;
            background-color: unset;
        }
        .header nav ul li span {
            position: unset;
        }
        .header nav ul li a {
            font-weight: 500;
            color: var(--gray-500);
            font-size: 1.5rem;
        }
        .header nav ul li:hover a {
            font-weight: 500;
        }
        .header nav ul li:hover {
            font-weight: 500;
            transform: scale(1.075, 1.075);
            transition: 300ms;
        }
        /*====================
        Estilização de ativo para cada sessão
       ====================*/

    /*========== Main ==========*/
        /*========== Home ==========*/
            .home-container {
                padding: 2.375rem 15%;
            }
            .home h2 {
                font-size: 3rem;
            }
            .home h2 span {
                font-size: 1.125rem;
            }
            .home h3 {
                font-size: 2.25rem;
            }
            .home p {
                font-size: 1.125rem;
            }
        /*========== Services ==========*/
            .services h3 {
                font-size: 2.25rem;
            }
}